* {
  margin: 0;
	padding: 0;
}

body {
  font: Verdana, "Lucida Grande", "Lucida Sans", sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 1em;
}

h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul {
  margin: 1em 0;
}
h2 {
	font-size: 1.75em;
}

h2, h3 {
	color: #00bb77;
}

h1 {
	color: #bb5566;
	font-size: 1.1em;
	margin-top: 0.5em;
}

a {
	color: #ffffff;
	text-decoration: none;
	outline: none;
}

a:visited {
	color: #ffffff;
}

a:hover, a:active {
	color: #2299ff;
}

a img {
    border:none;
}

#contents {
  background-color: #101010;
	width: 740px;
  margin: 0 auto;
  border: 1px solid #fff;
  margin-top: 1em;
  padding: 1em 1em 1em 3em;
}

#sidebar {
  width: 180px;
  float: right;
  padding: 2em 2em 2em 0;
  font-size: 1.2em;
}


#screenshots {
	margin-top: 2em;
	float: right;
}

ul {
	text-align: center;
	float: right;
}

li {
	display: inline;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	font-weight: bold;
}
