/* I stole this from pastie.org.
   But I doubt they will care since they stole it from TextMate */

/* Stylesheet generated from TextMate theme
 *
 * Twilight
 *
 *
 */

/* Mostly to improve view within the TextMate HTML viewer */
body {
	margin: 0;
	padding: 0;
}

pre.textmate-source {
	padding: 0;
	line-height: 1.3em;
	word-wrap: break-word;
}

pre.textmate-source {
	color: #F8F8F8;
	background-color: #101010;
}

#content
{
	background-color: #101010;
	border-color:#ddd;
}

#content h2 { color:#eee; }
#content hr { color:#333; }
#content hr { height:0px; border:0; border-top:1px solid #333; }

pre.textmate-source .linenum {
	width: 75px;
	padding: 0.1em 1em 0.2em 0;
	color: #888;
	background-color: #eee;
}
pre.textmate-source span {
   padding-top: 0.2em;
   padding-bottom: 0.1em;
}
pre.textmate-source ::selection {
	background-color: rgba(221, 240, 255, 0.20);
}
/* Comment */
pre.textmate-source .comment {
	color: #5F5A60;
	font-style: italic;
}

/* Constant */
pre.textmate-source .constant {
	color: #CF6A4C;
}

/* Entity */
pre.textmate-source .entity {
	color: #9B703F;
}

/* Keyword */
pre.textmate-source .keyword {
	color: #CDA869;
}

/* Storage */
pre.textmate-source .storage {
	color: #F9EE98;
}

/* String */
pre.textmate-source .string {
	color: #8F9D6A;
}

/* Support */
pre.textmate-source .support {
	color: #9B859D;
}

/* Variable */
pre.textmate-source .variable {
	color: #7587A6;
}

/* Invalid â€“ Deprecated */
pre.textmate-source .invalid_deprecated {
	color: #D2A8A1;
	font-style: italic;
	text-decoration: underline;
}

/* Invalid â€“ Illegal */
pre.textmate-source .invalid_illegal {
	color: #F8F8F8;
	background-color: rgba(86, 45, 86, 0.75);
}

/* â™¦ Embedded Source */
pre.textmate-source .text .source {
	background-color: rgba(176, 179, 186, 0.08);
}

/* â™¦ Embedded Source (Bright) */
pre.textmate-source .text_html_ruby .source {
	background-color: rgba(177, 179, 186, 0.13);
}

/* â™¦ Entity inherited-class */
pre.textmate-source .entity_other_inherited-class {
	color: #9B5C2E;
	font-style: italic;
}

/* â™¦ String embedded-source */
pre.textmate-source .string_quoted .source {
	color: #DAEFA3;
}

/* â™¦ String constant */
pre.textmate-source .string .constant {
	color: #DDF2A4;
}

/* â™¦ String.regexp */
pre.textmate-source .string_regexp {
	color: #E9C062;
}

/* â™¦ String.regexp.Â«specialÂ» */
pre.textmate-source .string_regexp .constant_character_escaped, pre.textmate-source .string_regexp .source_ruby_embedded, pre.textmate-source .string_regexp .string_regexp_arbitrary-repitition {
	color: #CF7D34;
}

/* â™¦ String variable */
pre.textmate-source .string .variable {
	color: #8A9A95;
}

/* â™¦ Support.function */
pre.textmate-source .support_function {
	color: #DAD085;
}

/* â™¦ Support.constant */
pre.textmate-source .support_constant {
	color: #CF6A4C;
}

/* c C/C++ Preprocessor Line */
pre.textmate-source .other_preprocessor_c {
	color: #8996A8;
}

/* c C/C++ Preprocessor Directive */
pre.textmate-source .other_preprocessor_c .entity {
	color: #AFC4DB;
}

/* âœ˜ Doctype/XML Processing */
pre.textmate-source .meta_tag_sgml_doctype, pre.textmate-source .meta_tag_sgml_doctype .entity, pre.textmate-source .meta_tag_sgml_doctype .string, pre.textmate-source .meta_tag_preprocessor_xml, pre.textmate-source .meta_tag_preprocessor_xml .entity, pre.textmate-source .meta_tag_preprocessor_xml .string {
	color: #494949;
}

/* âœ˜ Meta.tag.Â«allÂ» */
pre.textmate-source .declaration_tag, pre.textmate-source .declaration_tag .entity, pre.textmate-source .meta_tag, pre.textmate-source .meta_tag .entity {
	color: #AC885B;
}

/* âœ˜ Meta.tag.inline */
pre.textmate-source .declaration_tag_inline, pre.textmate-source .declaration_tag_inline .entity, pre.textmate-source .source .entity_name_tag, pre.textmate-source .source .entity_other_attribute-name, pre.textmate-source .meta_tag_inline, pre.textmate-source .meta_tag_inline .entity {
	color: #E0C589;
}

/* Â§ css tag-name */
pre.textmate-source .meta_selector_css .entity_name_tag {
	color: #CDA869;
}

/* Â§ css:pseudo-class */
pre.textmate-source .meta_selector_css .entity_other_attribute-name_tag_pseudo-class {
	color: #8F9D6A;
}

/* Â§ css#id */
pre.textmate-source .meta_selector_css .entity_other_attribute-name_id {
	color: #8B98AB;
}

/* Â§ css.class */
pre.textmate-source .meta_selector_css .entity_other_attribute-name_class {
	color: #9B703F;
}

/* Â§ css property-name: */
pre.textmate-source .support_type_property-name_css {
	color: #C5AF75;
}

/* Â§ css property-value; */
pre.textmate-source .meta_property-group .support_constant_property-value_css, pre.textmate-source .meta_property-value .support_constant_property-value_css {
	color: #F9EE98;
}

/* Â§ css @at-rule */
pre.textmate-source .meta_preprocessor_at-rule .keyword_control_at-rule {
	color: #8693A5;
}

/* Â§ css additional-constants */
pre.textmate-source .meta_property-value .support_constant_named-color_css, pre.textmate-source .meta_property-value .constant {
	color: #CA7840;
}

/* Â§ css constructor.argument */
pre.textmate-source .meta_constructor_argument_css {
	color: #8F9D6A;
}

/* âŽ‡ diff.header */
pre.textmate-source .meta_diff, pre.textmate-source .meta_diff_header {
	color: #F8F8F8;
	font-style: italic;
	background-color: #0E2231;
}

/* âŽ‡ diff.deleted */
pre.textmate-source .markup_deleted {
	color: #F8F8F8;
	background-color: #420E09;
}

/* âŽ‡ diff.changed */
pre.textmate-source .markup_changed {
	color: #F8F8F8;
	background-color: #4A410D;
}

/* âŽ‡ diff.inserted */
pre.textmate-source .markup_inserted {
	color: #F8F8F8;
	background-color: #253B22;
}

/* Markup: List */
pre.textmate-source .markup_list {
	color: #F9EE98;
}

/* Markup: Heading */
pre.textmate-source .markup_heading {
	color: #CF6A4C;
}

/* Customizations */
pre.textmate-source {
	font-family: 'Monaco','Monospace','Courier New','Courier',monospace;
	margin-left: 2em;
	line-height: 1.2em;
}
